body {
    background-color: rgb(83, 83, 83);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    background-color: white;
    margin: auto;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px ;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 10px;
}

hr {
    height: 10px;
}