@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 { /* h1 principal */
    color: rgb(70, 70, 70);
}

h1#principal { /* h1 secundario que tambem herdar as config do principal mas o id sobrepoe as configs do principal*/
    color: rgba(0, 0, 0, 0.473);
    text-align: center;
    background-color:  rgb(70, 70, 70);
}

h2 {
    color: rgba(34, 34, 34, 0.616);
}

.basico {
    color: rgba(136, 34, 34, 0.616);
    font-weight: bolder;
}

.intermediarios {
    color: rgba(54, 136, 34, 0.616);
}

.avancado {
    color: rgba(136, 134, 34, 0.616);
}

.destaque {
    background-color: yellowgreen;
}