@charset "UTF-8";

/* Estilos para telas */

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    padding: 10px;
    text-align: center;
    background-color: gray;
}

menu ul {
    background-color: darkgray;
    list-style-type: none;
}

menu li {
    display: inline-block;
    background-color: rgb(70, 69, 69);
    padding: 10px;
    color: white;
}

article {
    display: block;
    padding-top: 40px;
    width: 600px;
    margin: auto;
}