body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: gray;
    border-radius: 5px;
    padding-left: 10px;
    width: 400px;
    margin: auto;
}

p {
    background-color: rgba(128, 128, 128, 0.281);
    width: 450px;
}

.html {
    width: 430px;
}

.javascript {
    width: 330px;
}

h1 {
    text-align: center;
}

img {
    width: 150px;
}