@charset "UTF-8";
body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}

nav {
    background-color: rgba(0, 128, 0, 0.39);
    padding: 2px;
    border-radius: 20px;
    text-align: center;
}

nav > a {
    text-decoration: none;
    margin-right: 200px;
    color: white;
    font-weight: bold;
}

nav > a:hover {
    text-decoration: underline;

}

nav > a:active {
    color: rgb(31, 0, 0);
}

main {
    background-color: lightslategrey;
    padding: 20px;
    border-radius: 5px;
}

.titulo-prin {
    text-align: center;
    font-weight: bold;
}

section {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 2px 2px 10px 10px;
}

section > a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

section > a:hover {
    text-decoration: underline;
    color: darkmagenta;
}

section > a::after {
    content: ' <- ';
}

section > a::before {
    content: ' -> ';
}

section > a:active {
    color: blue;
}

footer {
    background-color: rgba(160, 81, 45, 0.63);
    text-align: center;
    padding: 5px 2px 5px 2px;
    border-radius: 5px;
}