@charset "UTF-8";

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.377);
}

main > button {
    background-color: lightgreen;
    width: 90px;
    padding: 5px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

main > button:hover {
    background-color: darkgreen;
    color: white;
}

footer {
    text-align: center;
    font-size: .8em;
    color: gray;
}

.card {
  background-color: white;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}