body {
    background-color: gray;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 20px;
}

main {
    background-color: white;
    width: 400px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px;
}