@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face { 
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor1: #23a86193;
    --cor2: #28764D;
    --cor3: #1DDB76;
    --cor4: #1E4832;
    --cor5: #264D3A;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.548);
}

header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.548);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.288);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 0.2s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

nav > a:active {
    color: white;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 15px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1.2em;
}

main strong {
    color: var(--cor2);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor5);
}

main img {
    width: 100%;
}

main h1 {
    font-family: var(--font-android);
}